<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yecheng.api_gateway.Mybatis.Mapper.RouteDefinitionMapper">
    <select id="getRouteDefinitions" parameterType="Integer" resultType="RouteDefinition">
        select id, path
        from RouteDefinition
        where service_hash = #{serviceHash}
    </select>

    <insert id="setRouteDefinition" parameterType="RouteDefinitionDB">
        insert into RouteDefinition(service_name, service_hash, path, path_hash)
        values(#{serviceName}, #{serviceHash}, #{path}, #{pathHash})
    </insert>

    <insert id="deleteRouteDefinition">
        delete from RouteDefinition
        where path_hash = #{pathHash} and service_hash = #{serviceHash}
    </insert>
</mapper>