<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yecheng.nginx_manager.Mybatis.Mapper.FlowRouteMapper">
    <select id="getAllFlowRouteDefinition" resultType="FlowRouteDefinition">
        select service, host
        from FlowRouteDefinition
    </select>
    <select id="getFlowRouteDefinitionFromService" parameterType="Integer" resultType="FlowRouteDefinition">
        select service, host
        from FlowRouteDefinition
        where service_hash =  #{serviceHash}
    </select>

    <insert id="insertFlowRouteDefinition" parameterType="FlowRouteDefinitionDB">
        insert into FlowRouteDefinition(host, service, service_hash)
        values(#{host}, #{service}, #{serviceHash})
    </insert>

    <delete id="deleteFlowRouteDefinitionFromService" parameterType="Integer">
        delete 
        from FlowRouteDefinition
        where service_hash = #{serviceHash}
    </delete>
</mapper>