<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yecheng.log_manager.Mybatis.Mapper.LogMapper">

    <insert id="saveLog" parameterType="log">
         insert into log(log_time, level, logger, line, log_id, data)
         values(#{logTime}, #{level}, #{logger}, #{line}, #{logId}, #{data})
    </insert>

    <select id="getLogFromLogId" parameterType="req" resultType="log">
         select log_time, level, logger, line, log_id, data
         from (
            select log_time, level, logger, line, log_id, data
            from log
            where log_id = #{logId}
         ) as t
         where t.data like CONCAT('%', #{data}, '%')
    </select>

    <select id="getLogFromTime" parameterType="req" resultType="log">
      select log_time, level, logger, line, log_id, data
      from (
         select log_time, level, logger, line, log_id, data
         from log
         where log_time &gt;= #{beginTime} and log_time &lt;= #{endTime}
      ) as t
      where t.data like CONCAT('%', #{data}, '%')
   </select>

   <select id="getLogFromLogger" parameterType="req" resultType="log">
    select log_time, level, logger, line, log_id, data
    from (
       select log_time, level, logger, line, log_id, data
       from log
       where logger = #{logger}
    ) as t
    where t.data like CONCAT('%', #{data}, '%')
   </select>

   <select id="getLogFromPre" parameterType="req" resultType="log">
    select log_time, level, logger, line, log_id, data
    from log
    where data like CONCAT(#{data}, '%')
   </select>

   <select id="getLogLink" parameterType="String" resultType="log">
      select log_time, level, logger, line, log_id, data
      from log
      where log_id = #{logId}
   </select>
   <update id="createTable">
      create table if not exists log
      (
         id int primary_key not null auto_increment,  
         logTime bigint not null,
         level varchar(20) not null,
         logger varchar(100) not null,
         line varchar(800) not null,
         logId varchar(100) not null,
         data varchar(800) not null,
      );
   </update>
</mapper>