<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yecheng.log_manager.Mybatis.Mapper.LogMapper">

    <insert id="saveLog" parameterType="log">
         insert into log(log_time, level, logger, line, log_id, data)
         values(#{logTime}, #{level}, #{logger}, #{line}, #{logId}, #{data})
    </insert>

   <select id="getLogFromLoggerAndPre" parameterType="req" resultType="log">
      select log_time, level, logger, line, log_id, data
      from log
      where logger = #{logger} and data like CONCAT(#{data}, '%') and log_time &gt; ${beginTime} and log_time &lt; ${endTime}
      order by log_time
   </select>

   <select id="getLogFromLogger" parameterType="req" resultType="log">
      select log_time, level, logger, line, log_id, data
      from log
      where logger = #{logger} and data like CONCAT('%', #{data}, '%') and log_time &gt; ${beginTime} and log_time &lt; ${endTime}
      order by log_time
   </select>


   <select id="getLogLink" parameterType="String" resultType="log">
      select log_time, level, logger, line, log_id, data
      from log
      where log_id = #{logId}
      order by log_time
   </select>

   <update id="createTable">
      create table if not exists log
      (
         id int not null primary key auto_increment,  
         log_time bigint not null,
         level varchar(20) not null,
         logger varchar(100) not null,
         line int not null,
         log_id varchar(100) not null,
         data varchar(800) not null
      );
   </update>
</mapper>